# IGNORE MASSIVE FOLDER
fidle-env/
fidle-datasets/
fidle-notebook/
BDDarchive/
nnClasses-DataBase-IMG/
jpg+xyz_gen/
.vscode/
datasheet/
fidle-master/
GTSRB/
qq_img_relle/

# Part 3
foule/
unnoise/

# iGNORE SCRIPT (for now)
full convolution.ipynb
read dataset (V1).ipynb
script_test.ipynb
test full scale.ipynb
draft.ipynb
get-pip.py
Preparation_de_donnee.ipynb
.ipynb*
events*
*checkpoints*

# IGNORE MOD (for nom)
mod/
