# IGNORE MASSIVE FOLDER
fidle-env/
fidle-datasets/
fidle-notebook/
BDDarchive/
nnClasses-DataBase-IMG/
jpg+xyz_gen/
.vscode/

# Part 3
foule/

# iGNORE SCRIPT (for now)
full convolution.ipynb
read dataset (V1).ipynb
script_test.ipynb
test full scale.ipynb
draft.ipynb

# IGNORE MOD (for nom)
mod/